doctype html(lang='en')
include ./includes/head.jade
body
  - var nav = "event"
  .container
    include ./includes/nav.jade
    .jumbotron
      h1
         |Event Details           

    .row.no-margin
      |<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=7701%20Boca%20Ciega%20Dr%20St%20Pete%20Beach%2C%20FL%2033706&key=AIzaSyDWVQT6qu25YlQrA_nEKNoDtw89UUF-CDA"></iframe>
    include ./includes/footer.jade       
  // /container

