doctype html(lang='en')
include ./includes/head.jade
body
  - var nav = "welcome"
  .container
    include ./includes/nav.jade
    .jumbotron
      h1
         |Ricardo Rodriguez <br />
         |x <br /> 
         |Cindy Cheung
           
    .row.marketing
      .col-lg-12
        p 
          |Welcome to our wedsite! We're excited about our big wedding day which is August 8th 2015 at the St. Pete Beach Rec Center. For more information, please click on the corresponding links above! We look forward to seeing you all!

        p.text-right
          |With Love, 

        p.text-right
          |Cindy and Ric 

    include ./includes/footer.jade       
  // /container

