doctype html(lang='en')
include ./includes/head.jade
body
  - var nav = "registry"
  .container
    include ./includes/nav.jade
    .jumbotron
      h1
         |Registry
           
    .row.sub-content.no-margin
      .col-lg-6.col-md-offset-3
        p.registry
          |<a href="http://www.crateandbarrel.com/Gift-Registry/cindy-cheung-and-ricardo-rodriguez/r5235087"><img src="../images/Wedding-Registry-by-Crate-Barrel.jpg" /></a>
        p.registry
          |<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541575925&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos"><img src="../images/Bed-Bath-and-beyond.jpg" /></a>
        P.registry
          |<a href="http://www1.macys.com/registry/wedding/guest/?registryId=6249445>Macy's"><img src="../images/macys1-300x144.jpg" /></a>
  // /container

